<div >

  <h1>Component 1:</h1>
  <app-comp1></app-comp1>

  <h1> Structural directive component :</h1>
  <app-comp-struc-dir></app-comp-struc-dir>

  <h1>Component interaction (app-test):</h1>
  <app-test-component (childEvent)="message=$event" [parentData]="name"></app-test-component>
  <h3>Message from child class: {{message}}</h3> <hr>

  <h1>Pipe Component:</h1>
  <app-pipe-component></app-pipe-component>

  <h1>Service example: </h1>
  <h2>Employee List component:</h2>
  <app-employee-list></app-employee-list>

  <h2>Employee Detail component:</h2>
  <app-employee-detail></app-employee-detail>
</div>